/*----------Estilização do BLOG VIRADEV---------*/
/*Responsividades media query */
@media screen and (min-width: 768px) and (max-width: 1024px){

}
@media screen and (min-width: 600px) and (max-width: 767px){
}

/*----------Estilização do HOME-----------------*/
*{
    margin:0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
/*-------------Início da estilização do header/nav-------------------*/
    header{
        height: 60px;
        width: 100%;
        display: flex;
        padding-left: 30vh;
        padding-right: 10vh;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow:inset 0px 4px    5px 0px rgba(0, 0, 0, 0.3);
    background-color: transparent;
    transition: background-color 0.3s ease;
}
header:hover {
    background-color: #3498db;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
.scroll {
    background-color: #3498db;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}
.logo{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    width: calc(100% - 50px);
}
.logo h2 a{
    text-decoration: none;
    color: black;
    display: flex;
}
.navegacao{
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px;  
    width: 50px;
}
.menu{
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 20px;
    position: relative;
    transition: 0.3s;
}
.menu li a{
    text-decoration: none;
    padding: 15px;
    color: black;
    display: inline-block;
    transition: 0.3s;
}
/*-------------Estilização do Dropdown-----------------------*/
.dropdown ul{
    display: none;
    position: absolute;
    background-color: #3498db;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-top: 0px;
    list-style: none;
    z-index: 1;
}
.dropdown:hover ul{
    display: block;
}
.dropdown ul li{
    margin: 0px 0;
}
.dropdown ul li a{
    color: white;
    font-size: 16px;
    display: block;
    min-width: 150px;
}
.dropdown ul li a:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: #3498db;
}
/*Fim da estilização do header/nav*/
/*------------Início da estilização da parte central do main---------------*/
main{
    display: flex;
    margin-left: 300px;
    margin-right: 300px;
    align-content: center;
}
.conteudo-principal{
    margin-top: 60px;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    width: calc(100% - 100px);
    display: block;
}
.blocos{
    display: flex;
    padding: 20px;
    margin: 30px;
    border-radius: 10px;
    flex-direction: column;
}
.Posts{
    font-size: 16px;
    text-align: justify;
    margin-top: 10px;
}
.imgPosts{
    width: 800px;
    height: auto;
    margin-top: 15px;
    border-radius: 2px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
}
/* Fim da estilização da parte central do main*/
/*---------------Estilização dos blocos laterais--------------*/
aside{
    width: 400px;
    align-items: center;
    margin-top: calc(60px + 20px);
    padding-left: 40px;
}
.BlocoLateral{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    background: #f8f7f6f1;
}
/*---------------Estilização do campo de busca------------*/
#Buscar{
    width: 50%;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 30px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    float: left;
}
.btnBuscar{
    width: 50px;
    line-height: 31px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-bottom-style: none;
    background: linear-gradient(45deg, #073f7ef1, #0c6edff1, #5b9fecf1);
    color: white;
    border: none;
    margin-top: 10px;
}
.btnBuscar:hover{
    transition: 0.3s;
    cursor: pointer;
    opacity: 0.8;
    color: black;
    font-weight: bold;
}
#Buscar input{
    flex: 1;
    border: none;
    padding:0;
    margin-top: 0;
    outline: none;
    float:left;
}
/*---------------Estilização do campo de linguagens------------*/
.noticias{
    list-style: none;
    display: inline-block;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    margin-top: 10px;
}
.noticias li a{
    text-decoration: none;
    color: black;
    padding-left: 10px;
    display: inline-block;
    transition: transform 0.2s ease;
    padding: 5px;
}
.noticias li a:hover{
    transform: scale(1.1);
}
/*------------Estilização das Tags-------------*/

.tag{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 14px;
    margin-top: 10px;
}
.tag li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-left: 10px;
    display: inline-block;
    transition: transform 0.2s ease;
    padding: 5px;
}
.btnTags{
    text-decoration: none;
    background: linear-gradient(45deg, #073f7ef1, #0c6edff1, #5b9fecf1);
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    transition: transform 0.2s ease, color 0.2s ease;
    border: none;
    color: rgb(255,255,255); 
}
.btnTags:hover{
    transform: scale(1.1);
    opacity: 0.8;
    font-weight: 700;    
    text-decoration: none;
}

/*Fim da estilização dos blocos laterais*/


/*-------------Estilização das páginas de login e cadastro------------------*/

/*-------------Estilização das página de login------------------*/
#acesso{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-section{
    text-align: center;
    height: auto;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
    font-size: 14pt;

}
.login-form{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
}
.login-form input{
    padding: 10px;
    width:  100%;
    line-height: 25px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: black;
    border-radius: 50px
}
.login-form button{
    padding: 10px 20px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}
.login-form button:hover{
    transition: 1s;
    background: linear-gradient(45deg,#5b9fecf1,#0c6edff1,#073f7ef1);
    cursor: pointer;
    color: black;
}
.login-form p{
        font-size: 20px;
        align-self: center;
        margin-top: 10px;
}
.login-form a{
        color: #3498db;
        text-decoration: none;
        font-weight: bold;
}
.login-form a:hover{
        opacity: 0.7;
        transition: 0.4s;
}
/*-------------Estilização das página de cadastro------------------*/
.acesso{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.Cadastro-section{
    margin: 125px 0;
    text-align: center;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
    font-size: 14pt;
}
.Cadastro-form{
    padding: 20px;
    margin-top: 30px;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}
.Cadastro-form label{
    font-size: 18px;
    align-self: flex-start;
    padding-left: 5px;
}
.Cadastro-form input{
    padding: 10px;
    width: 100%;
    line-height: 25px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    border: none;
    font-size: 16px;
    margin-bottom: 20px;
}
.Cadastro-form button{
    padding: 10px 20px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
}
.Cadastro-form button:hover{
    transition: 1s;
    cursor: pointer;
    color: black;
    background: linear-gradient(45deg, #073f7ef1, #0c6edff1, #5b9fecf1);
}
.Cadastro-form p{
    font-size: 20px;
    align-self: center;

}
.Cadastro-form a{
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}
    .Cadastro-form a:hover{
    opacity: 0.7;
    transition: 0.4s;
}
/* Início da estilização do footer*/
footer{
    height: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.822);
    color: white;
    font: 16pt;
    text-decoration: none;
    text-align: center;
    align-items: end;
    position: relative;
    bottom: 0;
    padding: 10px;
}
